/*******************************************
@author : bastikikang 
@author email: basti@codemywebapps.com
@author website : http://codemywebapps.com
*******************************************/


.header .mobile_menu_handle{
display:none;
}

.header .mobile_menu_handle i{
line-height: 54px;
margin: 2px 10px 0 0;
padding: 0;
color:#FFFFFF;
}

.header .mobile_menu_handle i:hover{
color:#000;
}

@media only screen and (max-width : 1024px) 
{

.main_content{
border:0px solid red;
}

.cart_details_wrap{
margin-left:-250px;
}

}

/*****************************
END  1024px
*****************************/

@media only screen and (max-width : 950px) 
{
body .main_content, body .footer, body .header .main{
width:100% !important;
}
body .header .main{
padding-left:5px;
}

}

@media only screen and (max-width : 900px) 
{

.main_content{
border:0px solid blue;
}

.main{
width:95%;
}

.siderbar_wrap, .food_cat, .food_order, .recent_order_wrap_page {
float:none;
width:100%;
margin-top:10px;
}

.food_cat{
margin-top:10px;
}

.custom_pages{
display:none;
}


}
/*****************************
END  900px
*****************************/


@media only screen and (max-width : 768px) 
{

.main_content{
border:0px solid green;
}

.header .right.top_nav{
display:none;
}

.header .mobile_menu_handle{
display:block;
}

.menu_gallery ul li{
width: 260px;
height:150px;
}

.da-thumbs li a img {
height:150px;
}

.receipt_main_wrapper h1{
width:100%;
}

.custom_pages{
display:none;
}

}
/*****************************
END  768px
*****************************/


@media only screen and (max-width : 600px) 
{

.categorized_menu, .categorized_menu ul li .description, .categorized_menu .layout_7 .cat_description{
width:100%;
border:none;
}

.categorized_menu ul li .item_thumb, .categorized_menu .layout_7 .item_thumb{
width:80%;
height:200px;
margin:auto;
float:none;
margin:auto;
}

.feature_menu.menu_gallery, #menu_tab{
width:100%;
}

}


@media only screen and (max-width : 480px) 
{

.main{
}

.footer .left, .footer .right{

}

.feature_menu.menu_gallery ul li{
width:80%;
float:none;
margin:auto;
height:200px;
}

.feature_menu.menu_gallery .da-thumbs li a img{
height:200px;
width:100%;
}

.main_content{
border:0px solid orange;
}

.header h1.site_title a{
font-size:28px;
display:none;
}

.menu_gallery ul li{
width: 100%;
height:160px;
}

.da-thumbs li a img {
height:160px;
}


.food_cat ul{
width:100%;
}

.food_cat ul li{
float:none;
width:100%;
}

.food_cat ul li img{
width:100%;
height:200px;
}

.food_order.left{
}

.food_order .item_photo{
width:100%;
}

.food_order .item_photo img{
width:100%;
height:200px;
}

.item_description{
float: none;
width: 100%;
}

.contact_field_wrap input[type="text"], .contact_field_wrap textarea {
width:100%;
}

.uk-form-icon{
width:100%;
}

.footer_address_wrap{
display:none;
}

.cooking_ref_wrap, .extra_wrap{
width:100%;
}



}
/*****************************
END  480px
*****************************/


@media only screen and (max-width : 320px) 
{

.main_content{
border:0px solid yellow;
}

.header h1.site_title a{
display:none;
}

.header h1.site_title, .header .mobile_menu_handle{
font-size:30px;
}

.receipt_wrapper{
width:100%;
}



}
/*****************************
END  320px
*****************************/


@media only screen and (max-width : 240px) 
{

}
/*****************************
END  240px
*****************************/
